<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  

  <section>
      <% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_users.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
</section>

</aside>

       <div class="span8">
      <h3>Micropost Feed</h3>

<br />
      <% unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
   <%= render 'unfollow' %>
  <% else %>
   <%= render 'follow' %>
  <% end %>
  </div>
<% end %>



      <% if @user.microposts.any? %>
      <p>Total posts: <%= @user.microposts.count %></p>
      <% @user.microposts.each do |micropost| %>
  <ol class="microposts">
    <li id="<%= micropost.id %>">
  <%= link_to gravatar_for(@user), @user %>
  
  <span class="user">
    <%= link_to @user.name, @user %>
  </span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>

 <% if current_user?(@user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>

  
</li>
  </ol>
  <% end %>
  
<% end %>
    </div>
</div>